@import url(https://fonts.googleapis.com/css?family=Rubik:300,regular,500,600,700&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #575c74;
  line-height: 1;
  font-family: Rubik;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Rubik;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper > main {
  flex: 1 1 auto
}
.wrapper > * {
  min-width: 0
}
[class*=__container] {
  max-width: 73.125rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
.button {
  display: inline-flex;
  font-size: .875rem;
  font-weight: 500;
  line-height: 1.6;
  padding: .5rem 1.5rem;
  border: .0625rem solid;
  border-color: transparent;
  border-radius: .5rem;
  background-color: #1b5fc1;
  color: #fff;
  text-align: center;
  transition: all .3s ease 0s
}
.button--border {
  border-color: #ffb800;
  color: #ffb800;
  background-color: #fff;
  transition: all .3s ease 0s
}
.button--shadow {
  box-shadow: 0 10px 15px 0 rgba(27,95,193,.2)
}
.button--fw {
  width: 100%
}
.rating {
  display: inline-block
}
.rating__items {
  display: inline-flex;
  align-items: flex-start;
  gap: .25rem
}
.rating__item {
  flex: 0 0 1.25rem;
  width: 1.25rem;
  height: 1.25rem;
  position: relative;
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMTkiIHZpZXdCb3g9IjAgMCAyMCAxOSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE5LjgxNTcgNy4xMjMyNUwxMi44NjcyIDYuNTI0MDdMMTAuMTUxNiAwLjEyNjQ2NUw3LjQzNjAxIDYuNTMzNzRMMC40ODc1NDkgNy4xMjMyNUw1Ljc2NDEzIDExLjY5NDNMNC4xNzkyMiAxOC40ODgyTDEwLjE1MTYgMTQuODgzNUwxNi4xMjQgMTguNDg4MkwxNC41NDg4IDExLjY5NDNMMTkuODE1NyA3LjEyMzI1Wk0xMC4xNTE2IDEzLjA3NjNMNi41MTc5MiAxNS4yNzAxTDcuNDg0MzMgMTEuMTMzOEw0LjI3NTg2IDguMzUwNThMOC41MDg3MiA3Ljk4MzM1TDEwLjE1MTYgNC4wODg3M0wxMS44MDQyIDcuOTkzMDFMMTYuMDM3IDguMzYwMjVMMTIuODI4NiAxMS4xNDM1TDEzLjc5NSAxNS4yNzk3TDEwLjE1MTYgMTMuMDc2M1oiIGZpbGw9IiNFREQxNDYiLz4KPC9zdmc+Cg==) 0 0/1.25rem no-repeat;
  transition: all .3s
}
.rating__item--active {
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMTkiIHZpZXdCb3g9IjAgMCAyMCAxOSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEwLjA5MjMgMTQuODgzNUwxNi4wNjQ3IDE4LjQ4ODJMMTQuNDc5OCAxMS42OTQzTDE5Ljc1NjMgNy4xMjMyNUwxMi44MDc5IDYuNTMzNzRMMTAuMDkyMyAwLjEyNjQ2NUw3LjM3NjY4IDYuNTMzNzRMMC40MjgyMjMgNy4xMjMyNUw1LjcwNDggMTEuNjk0M0w0LjExOTg5IDE4LjQ4ODJMMTAuMDkyMyAxNC44ODM1WiIgZmlsbD0iI0VERDE0NiIvPgo8L3N2Zz4K) 0 0/1.25rem no-repeat
}
.rating__item span {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 1.25rem;
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMTkiIHZpZXdCb3g9IjAgMCAyMCAxOSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEwLjA5MjMgMTQuODgzNUwxNi4wNjQ3IDE4LjQ4ODJMMTQuNDc5OCAxMS42OTQzTDE5Ljc1NjMgNy4xMjMyNUwxMi44MDc5IDYuNTMzNzRMMTAuMDkyMyAwLjEyNjQ2NUw3LjM3NjY4IDYuNTMzNzRMMC40MjgyMjMgNy4xMjMyNUw1LjcwNDggMTEuNjk0M0w0LjExOTg5IDE4LjQ4ODJMMTAuMDkyMyAxNC44ODM1WiIgZmlsbD0iI0VERDE0NiIvPgo8L3N2Zz4K) 0 0/1.25rem no-repeat
}
.rating__item:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: .25rem;
  -webkit-transform: translateX(100%);
  transform: translateX(100%)
}
[data-rating=set] .rating__item:not(:last-child)::after {
  cursor: pointer
}
.rating__input {
  width: 100%;
  height: 100%;
  opacity: 0;
  display: block
}
[data-rating=set] .rating__input {
  cursor: pointer
}
.menu__list {
  display: flex;
  align-items: center
}
.menu__link {
  position: relative;
  line-height: 1.8;
  text-transform: capitalize;
  transition: color .3s
}
.menu__link::before {
  position: absolute;
  content: "";
  height: .125rem;
  width: 0;
  bottom: 0;
  right: 0;
  background-color: #0c122d;
  transition: all .3s
}
.icon-menu {
  display: none
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.logo {
  width: 10.0625rem;
  height: 2.5rem;
  background-color: rgba(196,196,196,.768627451);
  transition: box-shadow .3s ease 0s
}
.title {
  line-height: 1.1;
  font-weight: 700;
  color: #0c122d
}
.title-block__label {
  font-size: .875rem;
  font-weight: 500;
  color: #ffb800
}
.title-block__text {
  line-height: 1.5
}
.box-info {
  padding-top: 3.75rem;
  padding-bottom: 3.125rem;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  font-size: .9375rem;
  line-height: 1.6;
  background-color: #fff
}
.box-info--color {
  background-color: #1b5fc1;
  color: #fff
}
.header {
  position: absolute;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  transition: all .3s ease 0s
}
.header._header-scroll {
  position: fixed;
  top: -200%;
  background-color: rgba(255,255,255,.8)
}
.header._header-show {
  transition: top .3s ease 0s;
  top: 0
}
.header__container {
  display: flex;
  align-items: center;
  min-height: 4.375rem
}
.header__logo {
  position: relative;
  z-index: 2
}
.header__menu {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end
}
.header__button {
  position: relative;
  white-space: nowrap;
  z-index: 2
}
.footer {
  background-color: #ecf0f5
}
.footer__container {
  padding-bottom: 2.5rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1.875rem
}
.footer__logo:not(:last-child) {
  margin-bottom: 2.0625rem
}
.footer__text {
  max-width: 21.25rem
}
.footer__spoller {
  display: flex;
  align-items: flex-start
}
.footer__box {
  width: 100%
}
.footer__title {
  font-size: 1.25rem;
  font-weight: 500;
  color: #0c122d;
  list-style: none;
  position: relative
}
.footer__title:not(:last-child) {
  margin-bottom: .75rem
}
._spoller-init .footer__title {
  cursor: pointer
}
._spoller-init .footer__title::after,
._spoller-init .footer__title::before {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  background-color: #000;
  height: 2px;
  width: 15px;
  transition: -webkit-transform .5s ease 0s;
  transition: transform .5s ease 0s;
  transition: transform .5s ease 0s,-webkit-transform .5s ease 0s
}
._spoller-init .footer__title::before {
  -webkit-transform: translate(-75%,-50%) rotate(40deg);
  transform: translate(-75%,-50%) rotate(40deg)
}
._spoller-init .footer__title::after {
  -webkit-transform: translate(0,-50%) rotate(-40deg);
  transform: translate(0,-50%) rotate(-40deg)
}
._spoller-init .footer__title._spoller-active::before {
  -webkit-transform: translateX(-75%) rotate(-40deg);
  transform: translateX(-75%) rotate(-40deg)
}
._spoller-init .footer__title._spoller-active::after {
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg)
}
.footer__copy {
  min-height: 5.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .875rem;
  line-height: 2;
  border-top: .0625rem solid rgba(87,92,116,.2)
}
.list-spoller__link {
  font-size: .9375rem;
  line-height: 2;
  text-transform: capitalize;
  transition: color .3s
}
.body-social__link {
  display: flex;
  align-items: center;
  -webkit-column-gap: .8125rem;
  -moz-column-gap: .8125rem;
  column-gap: .8125rem;
  font-size: .9375rem;
  line-height: 2;
  text-transform: capitalize;
  color: #1b5fc1;
  transition: color .3s
}
.body-social__link span {
  color: #575c74;
  transition: color .3s
}
.body-social__icon {
  width: 1.4375rem;
  height: 1.4375rem
}
.page__hero {
  background-color: #f7fdfb
}
.page__services {
  background-color: #f7fdfb
}
.page__contact {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  background-color: #ffb800
}
.page__respirator {
  position: relative;
  z-index: -1
}
.page__respirator::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15%;
  background-color: #f7fdfb
}
.page__product {
  position: relative;
  background-color: #f7fdfb;
  z-index: 2
}
.page__review {
  position: relative
}
.page__review::before {
  content: "";
  position: absolute;
  top: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f7fdfb
}
.hero {
  position: relative
}
.hero::after {
  position: absolute;
  content: "";
  bottom: 14%;
  left: calc(45% + 60px);
  width: 100vw;
  height: 120%;
  background: url(../img/hero/bacgraund.webp) center/contain no-repeat
}
.hero__container {
  display: flex;
  align-items: center
}
.hero__content {
  position: relative;
  flex: 0 1 50%
}
.hero__body {
  max-width: 35.3125rem
}
.hero__body > * {
  margin-bottom: 1.875rem
}
.hero__body > *:last-child {
  margin-bottom: 0
}
.hero__body .title-block__title:not(:last-child) {
  margin-bottom: 2.5rem
}
.hero__body .title-block__text:not(:last-child) {
  margin-bottom: 3.375rem
}
.hero__body .title-block__active {
  display: flex;
  align-items: center;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem
}
.hero__picture {
  position: relative;
  aspect-ratio: 496/744;
  overflow: hidden;
  z-index: 2
}
.hero__picture img {
  border-radius: 16px 16px 16px 0;
  width: 100%
}
.services__container {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(16.25rem,1fr))
}
.services__item {
  display: flex;
  align-items: flex-start;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem
}
.services__picture {
  flex: 0 0 2.5rem;
  color: #ffb800
}
.services__icon {
  height: 2.5rem;
  width: 2.5rem
}
.services__title {
  text-transform: capitalize
}
.services__title:not(:last-child) {
  margin-bottom: .9375rem
}
.services__text {
  font-size: .9375rem;
  line-height: 1.5
}
.get__body {
  display: grid;
  gap: 1.875rem;
  justify-content: center;
  text-align: center
}
.get__body .title-block__text {
  max-width: 41.5rem
}
.contact__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.875rem;
  flex-wrap: wrap
}
.contact__item p {
  font-size: .9375rem;
  line-height: 1.3;
  color: #0c122d
}
.contact__link {
  display: flex;
  align-items: center;
  -webkit-column-gap: 1rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem
}
.contact__icon {
  flex: 0 0 2rem;
  height: 2rem;
  width: 2rem
}
.contact__icon img {
  width: 100%
}
.contact__title {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5;
  color: #0c122d;
  text-transform: capitalize
}
.respirator__application {
  display: grid
}
.respirator__picture {
  flex: 0 1 50%;
  aspect-ratio: 570/616
}
.respirator__picture img {
  width: 100%
}
.respirator__content {
  flex: 0 1 50%;
  max-width: 32.6875rem
}
.respirator__title:not(:last-child) {
  margin-bottom: 1.5625rem
}
.respirator__text {
  line-height: 1.8
}
.respirator__text > * {
  margin-bottom: 2.1875rem
}
.respirator__text > *:last-child {
  margin-bottom: 0
}
.respirator__text span {
  font-weight: 700
}
.respirator__info {
  position: relative;
  z-index: 2
}
.respirator__left {
  position: relative
}
.respirator__banner img {
  width: 100%
}
.respirator__right {
  display: grid
}
.respirator__body {
  background-color: #ffb800;
  padding-top: 2.8125rem;
  padding-left: 2.375rem;
  padding-right: 2.375rem;
  padding-bottom: 3.125rem
}
.respirator__body > * {
  margin-bottom: .3125rem
}
.respirator__body > *:last-child {
  margin-bottom: 0
}
.respirator__body .title-block__text:not(:last-child) {
  margin-bottom: 1.75rem
}
.respirator__body .title-block__active {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  justify-content: space-between
}
.respirator__body .title-block__active span {
  display: block;
  width: .0625rem;
  height: 2.8125rem;
  background-color: #fff
}
.respirator__body .title-block__button {
  border-color: #1b5fc1;
  background-color: transparent;
  color: #1b5fc1;
  text-transform: capitalize;
  transition: all .3s ease 0s
}
.fitback-link {
  display: flex;
  align-items: center;
  gap: .8125rem
}
.fitback-link__box {
  font-weight: 600
}
.fitback-link__label {
  font-size: .875rem;
  line-height: 1.7;
  color: #1b5fc1
}
.fitback-link__number {
  color: #0c122d
}
.certificat__container {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  row-gap: 1.25rem
}
.certificat__label {
  position: relative;
  justify-self: start;
  font-size: .9375rem;
  line-height: 1.6;
  text-transform: capitalize
}
.certificat__label::after {
  position: absolute;
  content: "";
  height: .0625rem;
  width: 40%;
  background-color: #ffb800;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(50%);
  transform: translateY(50%)
}
.certificat__picture {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.25rem
}
.certificat__picture img {
  flex: 0 1 5rem;
  width: 100%
}
.product__container {
  display: grid;
  grid-template-columns: 35% 1fr;
  align-items: start;
  row-gap: 1.875rem
}
.product__picture {
  aspect-ratio: 400/630
}
.product__picture img {
  width: 100%
}
.product__title > * {
  margin-bottom: 1.875rem
}
.product__title > *:last-child {
  margin-bottom: 0
}
.product__title:not(:last-child) {
  margin-bottom: 2.1875rem
}
.list-product {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 1.5625rem
}
.list-product__item {
  display: flex;
  align-items: flex-start;
  -webkit-column-gap: 1.0625rem;
  -moz-column-gap: 1.0625rem;
  column-gap: 1.0625rem
}
.list-product__icon {
  flex: 0 0 3.5rem;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  background-color: #1b5fc1;
  display: flex;
  align-items: center;
  justify-content: center
}
.list-product__title > * {
  margin-bottom: .75rem
}
.list-product__title > *:last-child {
  margin-bottom: 0
}
.review__slide {
  padding: 3.125rem 2.5rem;
  border: .0625rem solid;
  border-color: #ecf0f5;
  border-radius: 1.25rem 1.25rem 1.25rem 0;
  background-color: #fff
}
.review__top {
  display: flex;
  align-items: center;
  justify-content: space-between
}
.review__top:not(:last-child) {
  margin-bottom: 2.1875rem
}
.review__icon {
  flex: 0 0 1.875rem;
  width: 1.875rem;
  height: 1.875rem;
  color: #ecf0f5
}
.review__text {
  font-size: .9375rem;
  font-weight: 500;
  line-height: 1.7;
  color: #0c122d
}
.review__text:not(:last-child) {
  margin-bottom: 1.25rem
}
.review__user {
  display: flex;
  align-items: center;
  -webkit-column-gap: .9375rem;
  -moz-column-gap: .9375rem;
  column-gap: .9375rem
}
.review__avatar {
  flex: 0 0 2.5rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%
}
.review__name {
  line-height: 1.2
}
.review__name span {
  display: block
}
.review__name span:nth-child(1) {
  font-size: 1.125rem;
  text-transform: uppercase;
  color: #0c122d
}
.review__name span:nth-child(2) {
  font-size: .875rem;
  text-transform: capitalize
}
.review__pagination {
  display: flex;
  align-items: center;
  -webkit-column-gap: .625rem;
  -moz-column-gap: .625rem;
  column-gap: .625rem;
  justify-content: center;
  margin-top: .9375rem
}
.review__pagination .swiper-pagination-bullet {
  width: .625rem;
  height: .625rem;
  border-radius: 50%;
  background-color: #ecf0f5
}
.review__pagination .swiper-pagination-bullet-active {
  background-color: #0c122d
}
.swiper {
  overflow: hidden
}
.swiper-initialized {
  touch-action: pan-y
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative
}
.swiper-vertical .swiper-wrapper {
  flex-direction: column
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start
}
.swiper-initialized .swiper-slide {
  flex-shrink: 0
}
.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}
.swiper-button-lock {
  display: none!important
}
@media (min-width:35.99875em) {
  .respirator__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-column-gap: .625rem;
    -moz-column-gap: .625rem;
    column-gap: .625rem
  }
  .respirator__item:nth-child(even) {
    flex-direction: row-reverse
  }
  .respirator__right {
    grid-template-columns: repeat(2,1fr)
  }
  .respirator__body {
    grid-column: span 2
  }
}
@media (min-width:47.99875em) {
  .header._header-scroll .header__container {
    min-height: 4.375rem
  }
  .header__container {
    min-height: 5.4375rem
  }
  .hero__picture {
    flex: 0 1 50%
  }
  .respirator__info-box {
    min-height: 20.75rem
  }
  .respirator__info-box--position {
    max-width: 17.8125rem;
    position: absolute;
    bottom: 0;
    right: 0
  }
}
@media (min-width:47.99875em) and (min-width:73.125em) {
  .hero__picture {
    padding-left: 4.6875rem
  }
}
@media (min-width:61.99875em) {
  .respirator__info {
    display: flex;
    align-items: flex-end
  }
  .respirator__left {
    flex: 0 1 50%
  }
  .respirator__right {
    flex: 0 1 50%;
    border-radius: 0 1.25rem 1.25rem 0;
    overflow: hidden
  }
  .review__pagination {
    display: none
  }
}
@media (min-width:73.125em) {
  .menu__list {
    -webkit-column-gap: 2.8125rem;
    -moz-column-gap: 2.8125rem;
    column-gap: 2.8125rem
  }
  .logo {
    width: 10.0625rem
  }
  .title {
    font-size: 3rem
  }
  .title--big {
    font-size: 4.5rem
  }
  .title--small {
    font-size: 1.25rem
  }
  .header__container {
    -webkit-column-gap: 2.8125rem;
    -moz-column-gap: 2.8125rem;
    column-gap: 2.8125rem
  }
  .header__menu {
    -webkit-column-gap: 2.8125rem;
    -moz-column-gap: 2.8125rem;
    column-gap: 2.8125rem
  }
  .footer__container {
    padding-top: 4.375rem
  }
  .footer__spoller {
    -webkit-column-gap: 18.75rem;
    -moz-column-gap: 18.75rem;
    column-gap: 18.75rem
  }
  .page__hero {
    padding-top: 8.75rem
  }
  .page__hero {
    padding-bottom: 2.1875rem
  }
  .page__services {
    padding-top: 2.1875rem
  }
  .page__services {
    padding-bottom: 3.125rem
  }
  .page__get {
    padding-top: 3.75rem
  }
  .page__get {
    padding-bottom: 2.5rem
  }
  .page__respirator {
    padding-top: 5.625rem
  }
  .page__respirator {
    padding-bottom: 2.5rem
  }
  .page__certificat {
    padding-top: 2.5rem
  }
  .page__certificat {
    padding-bottom: 2.5rem
  }
  .page__product {
    padding-top: 2.5rem
  }
  .page__product {
    padding-bottom: 2.5rem
  }
  .page__review {
    padding-top: 2.5rem
  }
  .page__review {
    padding-bottom: 2.5rem
  }
  .services__container {
    gap: 1.875rem
  }
  .respirator__application {
    gap: 5rem
  }
  .respirator__application:not(:last-child) {
    margin-bottom: 5rem
  }
  .fitback-link__number {
    font-size: 1.5rem
  }
  .certificat__container {
    -webkit-column-gap: 5.625rem;
    -moz-column-gap: 5.625rem;
    column-gap: 5.625rem
  }
  .certificat__label {
    padding-right: 10rem
  }
  .certificat__label::after {
    width: 9.0625rem
  }
  .product__content {
    padding-left: 4.6875rem
  }
}
@media (max-width:20em) {
  .menu__list {
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem
  }
  .logo {
    width: 6.25rem
  }
  .title {
    font-size: 1.75rem
  }
  .title--big {
    font-size: 2.5rem
  }
  .title--small {
    font-size: 1.125rem
  }
  .header__container {
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem
  }
  .header__menu {
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem
  }
  .footer__container {
    padding-top: 1.875rem
  }
  .page__hero {
    padding-top: 5.625rem
  }
  .page__hero {
    padding-bottom: .9375rem
  }
  .page__services {
    padding-top: .9375rem
  }
  .page__services {
    padding-bottom: 1.25rem
  }
  .page__get {
    padding-top: 1.875rem
  }
  .page__get {
    padding-bottom: 1.25rem
  }
  .page__respirator {
    padding-top: 2.5rem
  }
  .page__respirator {
    padding-bottom: 1.25rem
  }
  .page__certificat {
    padding-top: 1.25rem
  }
  .page__certificat {
    padding-bottom: 1.25rem
  }
  .page__product {
    padding-top: 1.25rem
  }
  .page__product {
    padding-bottom: 1.25rem
  }
  .page__review {
    padding-top: 1.25rem
  }
  .page__review {
    padding-bottom: 1.25rem
  }
  .services__container {
    gap: .9375rem
  }
  .respirator__application {
    gap: 1.25rem
  }
  .respirator__application:not(:last-child) {
    margin-bottom: 1.875rem
  }
  .fitback-link__number {
    font-size: 1.125rem
  }
  .certificat__container {
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem
  }
  .certificat__label {
    padding-right: 2.1875rem
  }
  .certificat__label::after {
    width: 1.875rem
  }
}
@media (max-width:61.99875em) {
  .product__container {
    grid-template-columns: auto
  }
  .product__content {
    padding-left: 1.875rem
  }
}
@media (max-width:47.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    overflow: auto;
    padding: 6.25rem .9375rem .9375rem 1.875rem;
    background-color: #ecf0f5;
    transition: left .3s
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.375rem;
    left: -100%;
    top: 0;
    transition: left .3s;
    background-color: #ecf0f5;
    z-index: 2
  }
  .menu-open .menu__body {
    left: 0
  }
  .menu-open .menu__body::before {
    left: 0
  }
  .menu__list {
    flex-direction: column;
    row-gap: 1.875rem
  }
  .menu__link {
    font-size: 1.25rem;
    font-weight: 500
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: #575c74
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .footer__container {
    flex-direction: column
  }
  .footer__spoller {
    -webkit-column-gap: 3.125rem;
    -moz-column-gap: 3.125rem;
    column-gap: 3.125rem;
    flex-direction: column;
    width: 100%;
    row-gap: 1.875rem
  }
  .hero::after {
    display: none
  }
  .hero__container {
    flex-direction: column;
    row-gap: 1.25rem
  }
  .hero__content {
    z-index: 2
  }
  .certificat__container {
    grid-template-columns: auto
  }
}
@media (max-width:47.99875em) and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (max-width:35.99875em) {
  .respirator__body .title-block__active {
    flex-direction: column-reverse;
    align-items: flex-start
  }
  .respirator__body .title-block__active span {
    display: none
  }
  .list-product__item {
    flex-direction: column;
    align-items: flex-start;
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0
  }
}
@media (max-width:29.99875em) {
  .contact__list {
    flex-direction: column;
    align-items: flex-start
  }
  .list-product {
    grid-template-columns: repeat(1,1fr)
  }
}
@media (min-width:20em) and (max-width:73.125em) {
  @supports ((-moz-column-gap:clamp(1.25rem ,0.6617647059rem + 2.9411764706vw ,2.8125rem)) or (column-gap:clamp(1.25rem ,0.6617647059rem + 2.9411764706vw ,2.8125rem))) {
    .menu__list {
      -webkit-column-gap: clamp(1.25rem ,.6617647059rem + 2.9411764706vw ,2.8125rem);
      -moz-column-gap: clamp(1.25rem ,.6617647059rem + 2.9411764706vw ,2.8125rem);
      column-gap: clamp(1.25rem ,.6617647059rem + 2.9411764706vw ,2.8125rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(1.25rem ,0.6617647059rem + 2.9411764706vw ,2.8125rem)) or (column-gap:clamp(1.25rem ,0.6617647059rem + 2.9411764706vw ,2.8125rem))) {
    .menu__list {
      -webkit-column-gap: calc(1.25rem + 1.5625 * (100vw - 20rem)/ 53.125);
      -moz-column-gap: calc(1.25rem + 1.5625 * (100vw - 20rem)/ 53.125);
      column-gap: calc(1.25rem + 1.5625 * (100vw - 20rem)/ 53.125)
    }
  }
  @supports (width:clamp(6.25rem ,4.8147058824rem + 7.1764705882vw ,10.0625rem)) {
    .logo {
      width: clamp(6.25rem ,4.8147058824rem + 7.1764705882vw ,10.0625rem)
    }
  }
  @supports not (width:clamp(6.25rem ,4.8147058824rem + 7.1764705882vw ,10.0625rem)) {
    .logo {
      width: calc(6.25rem + 3.8125 * (100vw - 20rem)/ 53.125)
    }
  }
  @supports (font-size:clamp(1.75rem ,1.2794117647rem + 2.3529411765vw ,3rem)) {
    .title {
      font-size: clamp(1.75rem ,1.2794117647rem + 2.3529411765vw ,3rem)
    }
  }
  @supports not (font-size:clamp(1.75rem ,1.2794117647rem + 2.3529411765vw ,3rem)) {
    .title {
      font-size: calc(1.75rem + 1.25 * (100vw - 20rem)/ 53.125)
    }
  }
  @supports (font-size:clamp(2.5rem ,1.7470588235rem + 3.7647058824vw ,4.5rem)) {
    .title--big {
      font-size: clamp(2.5rem ,1.7470588235rem + 3.7647058824vw ,4.5rem)
    }
  }
  @supports not (font-size:clamp(2.5rem ,1.7470588235rem + 3.7647058824vw ,4.5rem)) {
    .title--big {
      font-size: calc(2.5rem + 2 * (100vw - 20rem)/ 53.125)
    }
  }
  @supports (font-size:clamp(1.125rem ,1.0779411765rem + 0.2352941176vw ,1.25rem)) {
    .title--small {
      font-size: clamp(1.125rem ,1.0779411765rem + .2352941176vw ,1.25rem)
    }
  }
  @supports not (font-size:clamp(1.125rem ,1.0779411765rem + 0.2352941176vw ,1.25rem)) {
    .title--small {
      font-size: calc(1.125rem + .125 * (100vw - 20rem)/ 53.125)
    }
  }
  @supports ((-moz-column-gap:clamp(1.25rem ,0.6617647059rem + 2.9411764706vw ,2.8125rem)) or (column-gap:clamp(1.25rem ,0.6617647059rem + 2.9411764706vw ,2.8125rem))) {
    .header__container {
      -webkit-column-gap: clamp(1.25rem ,.6617647059rem + 2.9411764706vw ,2.8125rem);
      -moz-column-gap: clamp(1.25rem ,.6617647059rem + 2.9411764706vw ,2.8125rem);
      column-gap: clamp(1.25rem ,.6617647059rem + 2.9411764706vw ,2.8125rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(1.25rem ,0.6617647059rem + 2.9411764706vw ,2.8125rem)) or (column-gap:clamp(1.25rem ,0.6617647059rem + 2.9411764706vw ,2.8125rem))) {
    .header__container {
      -webkit-column-gap: calc(1.25rem + 1.5625 * (100vw - 20rem)/ 53.125);
      -moz-column-gap: calc(1.25rem + 1.5625 * (100vw - 20rem)/ 53.125);
      column-gap: calc(1.25rem + 1.5625 * (100vw - 20rem)/ 53.125)
    }
  }
  @supports ((-moz-column-gap:clamp(1.25rem ,0.6617647059rem + 2.9411764706vw ,2.8125rem)) or (column-gap:clamp(1.25rem ,0.6617647059rem + 2.9411764706vw ,2.8125rem))) {
    .header__menu {
      -webkit-column-gap: clamp(1.25rem ,.6617647059rem + 2.9411764706vw ,2.8125rem);
      -moz-column-gap: clamp(1.25rem ,.6617647059rem + 2.9411764706vw ,2.8125rem);
      column-gap: clamp(1.25rem ,.6617647059rem + 2.9411764706vw ,2.8125rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(1.25rem ,0.6617647059rem + 2.9411764706vw ,2.8125rem)) or (column-gap:clamp(1.25rem ,0.6617647059rem + 2.9411764706vw ,2.8125rem))) {
    .header__menu {
      -webkit-column-gap: calc(1.25rem + 1.5625 * (100vw - 20rem)/ 53.125);
      -moz-column-gap: calc(1.25rem + 1.5625 * (100vw - 20rem)/ 53.125);
      column-gap: calc(1.25rem + 1.5625 * (100vw - 20rem)/ 53.125)
    }
  }
  @supports (padding-top:clamp(1.875rem ,0.9338235294rem + 4.7058823529vw ,4.375rem)) {
    .footer__container {
      padding-top: clamp(1.875rem ,.9338235294rem + 4.7058823529vw ,4.375rem)
    }
  }
  @supports not (padding-top:clamp(1.875rem ,0.9338235294rem + 4.7058823529vw ,4.375rem)) {
    .footer__container {
      padding-top: calc(1.875rem + 2.5 * (100vw - 20rem)/ 53.125)
    }
  }
  @supports (padding-top:clamp(5.625rem ,4.4485294118rem + 5.8823529412vw ,8.75rem)) {
    .page__hero {
      padding-top: clamp(5.625rem ,4.4485294118rem + 5.8823529412vw ,8.75rem)
    }
  }
  @supports not (padding-top:clamp(5.625rem ,4.4485294118rem + 5.8823529412vw ,8.75rem)) {
    .page__hero {
      padding-top: calc(5.625rem + 3.125 * (100vw - 20rem)/ 53.125)
    }
  }
  @supports (padding-bottom:clamp(0.9375rem ,0.4669117647rem + 2.3529411765vw ,2.1875rem)) {
    .page__hero {
      padding-bottom: clamp(.9375rem ,.4669117647rem + 2.3529411765vw ,2.1875rem)
    }
  }
  @supports not (padding-bottom:clamp(0.9375rem ,0.4669117647rem + 2.3529411765vw ,2.1875rem)) {
    .page__hero {
      padding-bottom: calc(.9375rem + 1.25 * (100vw - 20rem)/ 53.125)
    }
  }
  @supports (padding-top:clamp(0.9375rem ,0.4669117647rem + 2.3529411765vw ,2.1875rem)) {
    .page__services {
      padding-top: clamp(.9375rem ,.4669117647rem + 2.3529411765vw ,2.1875rem)
    }
  }
  @supports not (padding-top:clamp(0.9375rem ,0.4669117647rem + 2.3529411765vw ,2.1875rem)) {
    .page__services {
      padding-top: calc(.9375rem + 1.25 * (100vw - 20rem)/ 53.125)
    }
  }
  @supports (padding-bottom:clamp(1.25rem ,0.5441176471rem + 3.5294117647vw ,3.125rem)) {
    .page__services {
      padding-bottom: clamp(1.25rem ,.5441176471rem + 3.5294117647vw ,3.125rem)
    }
  }
  @supports not (padding-bottom:clamp(1.25rem ,0.5441176471rem + 3.5294117647vw ,3.125rem)) {
    .page__services {
      padding-bottom: calc(1.25rem + 1.875 * (100vw - 20rem)/ 53.125)
    }
  }
  @supports (padding-top:clamp(1.875rem ,1.1691176471rem + 3.5294117647vw ,3.75rem)) {
    .page__get {
      padding-top: clamp(1.875rem ,1.1691176471rem + 3.5294117647vw ,3.75rem)
    }
  }
  @supports not (padding-top:clamp(1.875rem ,1.1691176471rem + 3.5294117647vw ,3.75rem)) {
    .page__get {
      padding-top: calc(1.875rem + 1.875 * (100vw - 20rem)/ 53.125)
    }
  }
  @supports (padding-bottom:clamp(1.25rem ,0.7794117647rem + 2.3529411765vw ,2.5rem)) {
    .page__get {
      padding-bottom: clamp(1.25rem ,.7794117647rem + 2.3529411765vw ,2.5rem)
    }
  }
  @supports not (padding-bottom:clamp(1.25rem ,0.7794117647rem + 2.3529411765vw ,2.5rem)) {
    .page__get {
      padding-bottom: calc(1.25rem + 1.25 * (100vw - 20rem)/ 53.125)
    }
  }
  @supports (padding-top:clamp(2.5rem ,1.3235294118rem + 5.8823529412vw ,5.625rem)) {
    .page__respirator {
      padding-top: clamp(2.5rem ,1.3235294118rem + 5.8823529412vw ,5.625rem)
    }
  }
  @supports not (padding-top:clamp(2.5rem ,1.3235294118rem + 5.8823529412vw ,5.625rem)) {
    .page__respirator {
      padding-top: calc(2.5rem + 3.125 * (100vw - 20rem)/ 53.125)
    }
  }
  @supports (padding-bottom:clamp(1.25rem ,0.7794117647rem + 2.3529411765vw ,2.5rem)) {
    .page__respirator {
      padding-bottom: clamp(1.25rem ,.7794117647rem + 2.3529411765vw ,2.5rem)
    }
  }
  @supports not (padding-bottom:clamp(1.25rem ,0.7794117647rem + 2.3529411765vw ,2.5rem)) {
    .page__respirator {
      padding-bottom: calc(1.25rem + 1.25 * (100vw - 20rem)/ 53.125)
    }
  }
  @supports (padding-top:clamp(1.25rem ,0.7794117647rem + 2.3529411765vw ,2.5rem)) {
    .page__certificat {
      padding-top: clamp(1.25rem ,.7794117647rem + 2.3529411765vw ,2.5rem)
    }
  }
  @supports not (padding-top:clamp(1.25rem ,0.7794117647rem + 2.3529411765vw ,2.5rem)) {
    .page__certificat {
      padding-top: calc(1.25rem + 1.25 * (100vw - 20rem)/ 53.125)
    }
  }
  @supports (padding-bottom:clamp(1.25rem ,0.7794117647rem + 2.3529411765vw ,2.5rem)) {
    .page__certificat {
      padding-bottom: clamp(1.25rem ,.7794117647rem + 2.3529411765vw ,2.5rem)
    }
  }
  @supports not (padding-bottom:clamp(1.25rem ,0.7794117647rem + 2.3529411765vw ,2.5rem)) {
    .page__certificat {
      padding-bottom: calc(1.25rem + 1.25 * (100vw - 20rem)/ 53.125)
    }
  }
  @supports (padding-top:clamp(1.25rem ,0.7794117647rem + 2.3529411765vw ,2.5rem)) {
    .page__product {
      padding-top: clamp(1.25rem ,.7794117647rem + 2.3529411765vw ,2.5rem)
    }
  }
  @supports not (padding-top:clamp(1.25rem ,0.7794117647rem + 2.3529411765vw ,2.5rem)) {
    .page__product {
      padding-top: calc(1.25rem + 1.25 * (100vw - 20rem)/ 53.125)
    }
  }
  @supports (padding-bottom:clamp(1.25rem ,0.7794117647rem + 2.3529411765vw ,2.5rem)) {
    .page__product {
      padding-bottom: clamp(1.25rem ,.7794117647rem + 2.3529411765vw ,2.5rem)
    }
  }
  @supports not (padding-bottom:clamp(1.25rem ,0.7794117647rem + 2.3529411765vw ,2.5rem)) {
    .page__product {
      padding-bottom: calc(1.25rem + 1.25 * (100vw - 20rem)/ 53.125)
    }
  }
  @supports (padding-top:clamp(1.25rem ,0.7794117647rem + 2.3529411765vw ,2.5rem)) {
    .page__review {
      padding-top: clamp(1.25rem ,.7794117647rem + 2.3529411765vw ,2.5rem)
    }
  }
  @supports not (padding-top:clamp(1.25rem ,0.7794117647rem + 2.3529411765vw ,2.5rem)) {
    .page__review {
      padding-top: calc(1.25rem + 1.25 * (100vw - 20rem)/ 53.125)
    }
  }
  @supports (padding-bottom:clamp(1.25rem ,0.7794117647rem + 2.3529411765vw ,2.5rem)) {
    .page__review {
      padding-bottom: clamp(1.25rem ,.7794117647rem + 2.3529411765vw ,2.5rem)
    }
  }
  @supports not (padding-bottom:clamp(1.25rem ,0.7794117647rem + 2.3529411765vw ,2.5rem)) {
    .page__review {
      padding-bottom: calc(1.25rem + 1.25 * (100vw - 20rem)/ 53.125)
    }
  }
  @supports (gap:clamp(0.9375rem ,0.5845588235rem + 1.7647058824vw ,1.875rem)) {
    .services__container {
      gap: clamp(.9375rem ,.5845588235rem + 1.7647058824vw ,1.875rem)
    }
  }
  @supports not (gap:clamp(0.9375rem ,0.5845588235rem + 1.7647058824vw ,1.875rem)) {
    .services__container {
      gap: calc(.9375rem + .9375 * (100vw - 20rem)/ 53.125)
    }
  }
  @supports (gap:clamp(1.25rem ,-0.1617647059rem + 7.0588235294vw ,5rem)) {
    .respirator__application {
      gap: clamp(1.25rem ,-.1617647059rem + 7.0588235294vw ,5rem)
    }
  }
  @supports not (gap:clamp(1.25rem ,-0.1617647059rem + 7.0588235294vw ,5rem)) {
    .respirator__application {
      gap: calc(1.25rem + 3.75 * (100vw - 20rem)/ 53.125)
    }
  }
  @supports (margin-bottom:clamp(1.875rem ,0.6985294118rem + 5.8823529412vw ,5rem)) {
    .respirator__application:not(:last-child) {
      margin-bottom: clamp(1.875rem ,.6985294118rem + 5.8823529412vw ,5rem)
    }
  }
  @supports not (margin-bottom:clamp(1.875rem ,0.6985294118rem + 5.8823529412vw ,5rem)) {
    .respirator__application:not(:last-child) {
      margin-bottom: calc(1.875rem + 3.125 * (100vw - 20rem)/ 53.125)
    }
  }
  @supports (font-size:clamp(1.125rem ,0.9838235294rem + 0.7058823529vw ,1.5rem)) {
    .fitback-link__number {
      font-size: clamp(1.125rem ,.9838235294rem + .7058823529vw ,1.5rem)
    }
  }
  @supports not (font-size:clamp(1.125rem ,0.9838235294rem + 0.7058823529vw ,1.5rem)) {
    .fitback-link__number {
      font-size: calc(1.125rem + .375 * (100vw - 20rem)/ 53.125)
    }
  }
  @supports ((-moz-column-gap:clamp(1.25rem ,-0.3970588235rem + 8.2352941176vw ,5.625rem)) or (column-gap:clamp(1.25rem ,-0.3970588235rem + 8.2352941176vw ,5.625rem))) {
    .certificat__container {
      -webkit-column-gap: clamp(1.25rem ,-.3970588235rem + 8.2352941176vw ,5.625rem);
      -moz-column-gap: clamp(1.25rem ,-.3970588235rem + 8.2352941176vw ,5.625rem);
      column-gap: clamp(1.25rem ,-.3970588235rem + 8.2352941176vw ,5.625rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(1.25rem ,-0.3970588235rem + 8.2352941176vw ,5.625rem)) or (column-gap:clamp(1.25rem ,-0.3970588235rem + 8.2352941176vw ,5.625rem))) {
    .certificat__container {
      -webkit-column-gap: calc(1.25rem + 4.375 * (100vw - 20rem)/ 53.125);
      -moz-column-gap: calc(1.25rem + 4.375 * (100vw - 20rem)/ 53.125);
      column-gap: calc(1.25rem + 4.375 * (100vw - 20rem)/ 53.125)
    }
  }
  @supports (padding-right:clamp(2.1875rem ,-0.7536764706rem + 14.7058823529vw ,10rem)) {
    .certificat__label {
      padding-right: clamp(2.1875rem ,-.7536764706rem + 14.7058823529vw ,10rem)
    }
  }
  @supports not (padding-right:clamp(2.1875rem ,-0.7536764706rem + 14.7058823529vw ,10rem)) {
    .certificat__label {
      padding-right: calc(2.1875rem + 7.8125 * (100vw - 20rem)/ 53.125)
    }
  }
  @supports (width:clamp(1.875rem ,-0.8308823529rem + 13.5294117647vw ,9.0625rem)) {
    .certificat__label::after {
      width: clamp(1.875rem ,-.8308823529rem + 13.5294117647vw ,9.0625rem)
    }
  }
  @supports not (width:clamp(1.875rem ,-0.8308823529rem + 13.5294117647vw ,9.0625rem)) {
    .certificat__label::after {
      width: calc(1.875rem + 7.1875 * (100vw - 20rem)/ 53.125)
    }
  }
}
@media (min-width:47.99875em) and (max-width:73.125em) {
  @supports ((-moz-column-gap:clamp(3.125rem ,-26.7234839063rem + 62.1859608975vw ,18.75rem)) or (column-gap:clamp(3.125rem ,-26.7234839063rem + 62.1859608975vw ,18.75rem))) {
    .footer__spoller {
      -webkit-column-gap: clamp(3.125rem ,-26.7234839063rem + 62.1859608975vw ,18.75rem);
      -moz-column-gap: clamp(3.125rem ,-26.7234839063rem + 62.1859608975vw ,18.75rem);
      column-gap: clamp(3.125rem ,-26.7234839063rem + 62.1859608975vw ,18.75rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(3.125rem ,-26.7234839063rem + 62.1859608975vw ,18.75rem)) or (column-gap:clamp(3.125rem ,-26.7234839063rem + 62.1859608975vw ,18.75rem))) {
    .footer__spoller {
      -webkit-column-gap: calc(3.125rem + 15.625 * (100vw - 47.99875rem)/ 25.12625);
      -moz-column-gap: calc(3.125rem + 15.625 * (100vw - 47.99875rem)/ 25.12625);
      column-gap: calc(3.125rem + 15.625 * (100vw - 47.99875rem)/ 25.12625)
    }
  }
}
@media (min-width:47.99875em) and (min-width:47.99875em) and (max-width:73.125em) {
  @supports (padding-left:clamp(1.875rem ,-3.4977271031rem + 11.1934729615vw ,4.6875rem)) {
    .hero__picture {
      padding-left: clamp(1.875rem ,-3.4977271031rem + 11.1934729615vw ,4.6875rem)
    }
  }
  @supports not (padding-left:clamp(1.875rem ,-3.4977271031rem + 11.1934729615vw ,4.6875rem)) {
    .hero__picture {
      padding-left: calc(1.875rem + 2.8125 * (100vw - 47.99875rem)/ 25.12625)
    }
  }
}
@media (min-width:47.99875em) and (max-width:47.99875em) {
  .hero__picture {
    padding-left: 1.875rem
  }
}
@media (min-width:61.99875em) and (max-width:73.125em) {
  @supports (padding-left:clamp(1.875rem ,-13.7970803842rem + 25.2780586451vw ,4.6875rem)) {
    .product__content {
      padding-left: clamp(1.875rem ,-13.7970803842rem + 25.2780586451vw ,4.6875rem)
    }
  }
  @supports not (padding-left:clamp(1.875rem ,-13.7970803842rem + 25.2780586451vw ,4.6875rem)) {
    .product__content {
      padding-left: calc(1.875rem + 2.8125 * (100vw - 61.99875rem)/ 11.12625)
    }
  }
}
@media (any-hover:hover) {
  .button:hover {
    background-color: #fff;
    color: #1b5fc1;
    border-color: #1b5fc1
  }
  .button--border:hover {
    border-color: #ffb800;
    color: #fff;
    background-color: #ffb800
  }
  [data-rating=set] .rating__items:hover .rating__item {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMTkiIHZpZXdCb3g9IjAgMCAyMCAxOSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEwLjA5MjMgMTQuODgzNUwxNi4wNjQ3IDE4LjQ4ODJMMTQuNDc5OCAxMS42OTQzTDE5Ljc1NjMgNy4xMjMyNUwxMi44MDc5IDYuNTMzNzRMMTAuMDkyMyAwLjEyNjQ2NUw3LjM3NjY4IDYuNTMzNzRMMC40MjgyMjMgNy4xMjMyNUw1LjcwNDggMTEuNjk0M0w0LjExOTg5IDE4LjQ4ODJMMTAuMDkyMyAxNC44ODM1WiIgZmlsbD0iI0VERDE0NiIvPgo8L3N2Zz4K) 0 0/1.25rem no-repeat
  }
  [data-rating=set] .rating__item:hover ~ .rating__item {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMTkiIHZpZXdCb3g9IjAgMCAyMCAxOSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE5LjgxNTcgNy4xMjMyNUwxMi44NjcyIDYuNTI0MDdMMTAuMTUxNiAwLjEyNjQ2NUw3LjQzNjAxIDYuNTMzNzRMMC40ODc1NDkgNy4xMjMyNUw1Ljc2NDEzIDExLjY5NDNMNC4xNzkyMiAxOC40ODgyTDEwLjE1MTYgMTQuODgzNUwxNi4xMjQgMTguNDg4MkwxNC41NDg4IDExLjY5NDNMMTkuODE1NyA3LjEyMzI1Wk0xMC4xNTE2IDEzLjA3NjNMNi41MTc5MiAxNS4yNzAxTDcuNDg0MzMgMTEuMTMzOEw0LjI3NTg2IDguMzUwNThMOC41MDg3MiA3Ljk4MzM1TDEwLjE1MTYgNC4wODg3M0wxMS44MDQyIDcuOTkzMDFMMTYuMDM3IDguMzYwMjVMMTIuODI4NiAxMS4xNDM1TDEzLjc5NSAxNS4yNzk3TDEwLjE1MTYgMTMuMDc2M1oiIGZpbGw9IiNFREQxNDYiLz4KPC9zdmc+Cg==) 0 0/1.25rem no-repeat
  }
  [data-rating=set] .rating__item:hover ~ .rating__item span {
    display: none
  }
  .menu__link:hover {
    color: #0c122d
  }
  .menu__link:hover::before {
    width: 100%;
    left: 0
  }
  .logo:hover {
    box-shadow: 0 10px 15px 0 rgba(196,196,196,.3)
  }
  .list-spoller__link:hover {
    color: #1b5fc1
  }
  .body-social__link:hover {
    color: #ffb800
  }
  .body-social__link span:hover {
    color: #1b5fc1
  }
  .respirator__body .title-block__button:hover {
    border-color: #fff;
    color: #fff
  }
}